@model Dominio.DiaDaSemana

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}

<h2>Excluir</h2>

<h3>Você deseja realmente excluir este registro</h3>
<fieldset>
    <legend>DiaDaSemana</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dia)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
